<div class="contact">
  <div class="container position-relative">
    <div class="planet d-none">
      <img src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/globe2.png" />
    </div>
    <div class="contact-title">
      <h5>{{"CONTACT.TITLE" | translate}}</h5>
      <h2>{{"CONTACT.SUB" | translate}}</h2>
      <p>{{"CONTACT.DESC" | translate}}</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4" style="align-self: center">
        <div class="contact-content">
          <div class="contact-area">
            <div class="contact-item">
              <div class="contact-thumb">
                <img src="http://pixner.net/mosto/demo/ltr/light/assets/images/contact/contact1.png" />
              </div>
              <div class="contact-item-content">
                <h5>{{"CONTACT.T1" | translate}}</h5>
                <span>info@minastik.com</span>
              </div>
            </div>
            <div class="contact-item">
              <div class="contact-thumb">
                <img src="http://pixner.net/mosto/demo/ltr/light/assets/images/contact/contact2.png" />
              </div>
              <div class="contact-item-content">
                <h5>{{"CONTACT.T2" | translate}}</h5>
                <span>(+84) 938-016-586</span>
              </div>
            </div>
            <div class="contact-item">
              <div class="contact-thumb">
                <img src="http://pixner.net/mosto/demo/ltr/light/assets/images/contact/contact3.png" />
              </div>
              <div class="contact-item-content">
                <h5>{{"CONTACT.T3" | translate}}</h5>
                <span>
                  {{"CONTACT.ADDRESS" | translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 position-relative">
        <form>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{"CONTACT.I1" | translate}}</label>
                <input class="form-control" type="text" placeholder="{{'CONTACT.P1' | translate}}" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{"CONTACT.I2" | translate}}</label>
                <input class="form-control" type="text" placeholder="{{'CONTACT.P2' | translate}}" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{"CONTACT.I3" | translate}}</label>
                <input class="form-control" type="text" placeholder="{{'CONTACT.P3' | translate}}" />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{"CONTACT.I4" | translate}}</label>
                <input class="form-control" type="text" placeholder="{{'CONTACT.P4' | translate}}" />
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label>{{"CONTACT.I5" | translate}}</label>
                <textarea class="form-control" placeholder="{{'CONTACT.P5' | translate}}"></textarea>
              </div>
            </div>
          </div>
          <button class="btn">{{"CONTACT.BTN" | translate}}</button>
        </form>
        <div class="man d-none d-lg-block">
          <img src="http://pixner.net/mosto/demo/ltr/light/assets/images/contact/man.png" />
        </div>
      </div>
    </div>
  </div>
</div>