<div class="overlay" [ngClass]="{ active: activeBars }" id="overlay"></div>
<header class="header-section" id="header">
  <div class="container">
    <div class="header-wrapper">
      <div class="logo">
        <a>
          <img [src]="logoLink" alt="logo" id="logo-img" />
        </a>
      </div>
      <ul class="menu" [ngClass]="{ active: activeBars }">
        <li class="menu-item"><a>Home</a></li>
        <li class="menu-item"><a (click)="selectElement('about')">About</a></li>
        <li class="menu-item">
          <a (click)="selectElement('features')">Features</a>
        </li>
        <li class="menu-item">
          <a (click)="selectElement('projects')">Projects</a>
        </li>
        <li class="menu-item">
          <a (click)="selectElement('contact')">Contact</a>
        </li>
      </ul>
      <div
        class="header-bar d-lg-none"
        (click)="addActiveClass()"
        [ngClass]="{ active: activeBars }"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="cta-btn d-none d-lg-block">
        <a class="header-btn">Get in touch</a>
      </div>
    </div>
  </div>
</header>
