<div class="features">
  <div class="ball-2 d-none d-md-block">
    <img
      src="http://pixner.net/mosto/demo/ltr/light/assets/images/balls/1.png"
    />
  </div>
  <div class="ball-4 d-none d-xl-block">
    <img
      src="http://pixner.net/mosto/demo/ltr/light/assets/images/balls/2.png"
      alt="balls"
    />
  </div>
  <div class="container">
    <div class="features-header">
      <h5>{{"FEATURES.TITLE" | translate}}</h5>
      <h2>{{"FEATURES.SUB_TITLE" | translate}}</h2>
      <p>
        {{"FEATURES.DESC" | translate}}
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6">
        <div class="feature-item active-1">
          <div class="feature-thumb">
            <span class="animation"></span>
            <div class="thumb">
              <img
                src="http://pixner.net/mosto/demo/ltr/light/assets/images/icon/access1.png"
              />
            </div>
          </div>
          <div class="feature-content">
            <h5>{{"FEATURES.T1" | translate}}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-item active-2">
          <div class="feature-thumb">
            <span class="animation"></span>
            <div class="thumb">
              <img
                src="http://pixner.net/mosto/demo/ltr/light/assets/images/icon/access2.png"
              />
            </div>
          </div>
          <div class="feature-content">
            <h5>{{"FEATURES.T2" | translate}}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-item active-1">
          <div class="feature-thumb">
            <span class="animation"></span>
            <div class="thumb">
              <img
                src="http://pixner.net/mosto/demo/ltr/light/assets/images/icon/access3.png"
              />
            </div>
          </div>
          <div class="feature-content">
            <h5>{{"FEATURES.T3" | translate}}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-item active-2">
          <div class="feature-thumb">
            <span class="animation"></span>
            <div class="thumb">
              <img
                src="http://pixner.net/mosto/demo/ltr/light/assets/images/icon/access4.png"
              />
            </div>
          </div>
          <div class="feature-content">
            <h5>{{"FEATURES.T4" | translate}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
