<div class="features">
  <div class="ball-2">
    <img
      src="http://pixner.net/mosto/demo/ltr/light/assets/images/balls/1.png"
    />
  </div>
  <div class="ball-4">
    <img
      src="http://pixner.net/mosto/demo/ltr/light/assets/images/balls/2.png"
      alt="balls"
    />
  </div>
  <div class="container">
    <div class="features-header">
      <h5>Extra Amazing Features that will</h5>
      <h2>Boost Your Website</h2>
      <p>
        In the process of making a app, the satisfaction of users is the most
        important and the focus is on usability and completeness
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6">
        <div class="feature-item active-1">
          <div class="feature-thumb">
            <span class="animation"></span>
            <div class="thumb">
              <img
                src="http://pixner.net/mosto/demo/ltr/light/assets/images/icon/access1.png"
              />
            </div>
          </div>
          <div class="feature-content">
            <h5>Productivity</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-item active-2">
          <div class="feature-thumb">
            <span class="animation"></span>
            <div class="thumb">
              <img
                src="http://pixner.net/mosto/demo/ltr/light/assets/images/icon/access2.png"
              />
            </div>
          </div>
          <div class="feature-content">
            <h5>Optimization</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-item active-1">
          <div class="feature-thumb">
            <span class="animation"></span>
            <div class="thumb">
              <img
                src="http://pixner.net/mosto/demo/ltr/light/assets/images/icon/access3.png"
              />
            </div>
          </div>
          <div class="feature-content">
            <h5>Safety</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-item active-2">
          <div class="feature-thumb">
            <span class="animation"></span>
            <div class="thumb">
              <img
                src="http://pixner.net/mosto/demo/ltr/light/assets/images/icon/access4.png"
              />
            </div>
          </div>
          <div class="feature-content">
            <h5>Sustainability</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
