<div class="testi">
  <div class="planets d-none d-xl-block">
    <img
      src="
    http://pixner.net/mosto/demo/ltr/light/assets/images/feature/globe2.png"
    />
  </div>
  <div class="container">
    <div class="testi-title">
      <h5>Meet our most valuable</h5>
      <h2>Expert Team Members</h2>
      <p>
        Our team of creative programmers, marketing experts, and members. We are
        to doing what we love the most
      </p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="member-thumb">
            <img
              src="http://pixner.net/mosto/demo/ltr/light/assets/images/team/team1.png"
            />
          </div>
          <div class="member-content">
            <h4>Nghia Duong</h4>
            <span>Chief Executive Officer</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="member-thumb" id="rotate">
            <img
              src="http://pixner.net/mosto/demo/ltr/light/assets/images/team/team2.png"
            />
          </div>
          <div class="member-content">
            <h4>Ha Le</h4>
            <span>Growth Marketer</span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="member">
          <div class="member-thumb">
            <img
              src="http://pixner.net/mosto/demo/ltr/light/assets/images/team/team3.png"
            />
          </div>
          <div class="member-content">
            <h4>Cong Duy</h4>
            <span>Backend Developer</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
