.testi {
  padding: 70px 0;
  background-image: url("http://pixner.net/mosto/demo/ltr/light/assets/images/bg/line-bg.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

/* style planets */
.planets {
  position: absolute;
  top: 0;
  right: 50px;
  width: 387px;
  height: 405px;
  animation: float 2s infinite ease-in-out;
}

/* style testimonial title */
.testi-title {
  text-align: center;
  max-width: 620px;
  margin: 0 auto 40px;
}
.testi-title h5 {
  color: #ff8a00;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 28px;
  font-weight: 600;
}
.testi-title h2 {
  font-size: 52px;
  line-height: 62px;
  font-weight: 700;
  color: #3b368c;
}
.testi-title p {
  color: #504c89;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
}

/* style member-item */
.member-thumb {
  position: relative;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  transition: all ease 0.5s;
}
.member-thumb#rotate {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 0;
}
.member-thumb::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("http://pixner.net/mosto/demo/ltr/light/assets/css/img/team_odd.png");
  background-size: cover;
  transition: all ease 0.5s;
}
.member-thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
  border: 1px solid #2229b2;
}
.member-thumb#rotate::before {
  transform: rotate(180deg);
}
.member-thumb img {
  width: 100%;
}
.member-thumb:hover {
  padding-right: 0;
  padding-bottom: 0;
}
.member-thumb#rotate:hover {
  padding-top: 0;
  padding-left: 0;
}
.member-thumb:hover::before {
  transform: rotate(90deg);
}
.member-thumb#rotate:hover::before {
  transform: rotate(90deg);
}

.member-content {
  text-align: center;
}
.member-content h4 {
  color: #3b368c;
  font-size: 28px;
  line-height: 30px;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}
.member-content h4:hover {
  color: #ee4730;
}
.member-content span {
  color: #504c89;
  font-size: 18px;
  line-height: 20px;
}

@keyframes float {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(2rem);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}
