<div class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="logo">
        <img
          src="http://pixner.net/mosto/demo/ltr/light/assets/images/logo/footer-logo.png"
        />
      </div>
      <ul class="social-icons">
        <li>
          <a>
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a>
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a class="active">
            <i class="fab fa-pinterest-p"></i>
          </a>
        </li>
        <li>
          <a>
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>
        <li>
          <a>
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <ul class="footer-links">
        <li><a>About</a></li>
        <li><a>Contact</a></li>
        <li><a>Terms of Service</a></li>
        <li><a>Privacy</a></li>
      </ul>
    </div>
    <div class="copy-right">
      <p class="mb-0">
        Copyright © 2020. All Rights Reserved By <span>Minastik</span>
      </p>
    </div>
  </div>
</div>
