<div class="footer">
  <div class="container">
    <div class="footer-top">
      <!-- <div class="logo">
        <img
          class="img-fluid" src="../../../assets/minastik-full-ver.png"
        />
      </div> -->
      <ul class="social-icons">
        <li>
          <a>
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a>
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a class="active">
            <i class="fab fa-pinterest-p"></i>
          </a>
        </li>
        <li>
          <a>
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>
        <li>
          <a>
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom">
      <ul class="footer-links">
        <li><a (click)="selectElement('about')">{{"FOOTER.T1" | translate}}</a></li>
        <li><a (click)="selectElement('contact')">{{"FOOTER.T2" | translate}}</a></li>
        <li><a>{{"FOOTER.T3" | translate}}</a></li>
        <li><a>{{"FOOTER.T4" | translate}}</a></li>
      </ul>
    </div>
    <div class="copy-right">
      <p class="mb-0">
        Copyright © 2020. All Rights Reserved By <span>Minastik</span>
      </p>
    </div>
  </div>
</div>
