<!-- a-few-words section -->
<div class="about-1">
  <div class="rocket d-none d-xl-block">
    <img
      src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/rocket.png"
    />
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-5 offset-xl-1">
        <div class="hero-img">
          <img
            src="http://pixner.net/mosto/demo/ltr/light/assets/images/about/about.png"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-xl-5" style="order: 1">
        <div class="about-content">
          <div class="about-content-header">
            <h5>A few words about us</h5>
            <h2>We’re an empowering team to achieve greatness together</h2>
            <p>
              We are a passionate team of software developers, marketers, and
              designers focused on driving results for our clients in the
              fast-growing. We are making products loved by users all over the
              world.
            </p>
            <div class="counter-area">
              <div class="counter-item">
                <div class="counter-thumb">
                  <img
                    src="http://pixner.net/mosto/demo/ltr/light/assets/images/counter/counter1.png"
                    class="img-fluid"
                  />
                </div>
                <div class="counter-content">
                  <h3>50+</h3>
                  <p>Clients</p>
                </div>
              </div>
              <div class="counter-item">
                <div class="counter-thumb">
                  <img
                    src="http://pixner.net/mosto/demo/ltr/light/assets/images/counter/counter2.png"
                    class="img-fluid"
                  />
                </div>
                <div class="counter-content">
                  <h3>64</h3>
                  <p>Provinces</p>
                </div>
              </div>
              <div class="counter-item">
                <div class="counter-thumb">
                  <img
                    src="http://pixner.net/mosto/demo/ltr/light/assets/images/counter/counter3.png"
                    class="img-fluid"
                  />
                </div>
                <div class="counter-content">
                  <h3>95%</h3>
                  <p>Satisfaction</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- what-we-do section -->
<div class="about-2">
  <div class="about-shape d-none d-lg-block">
    <img
      src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/feature-shape.png"
    />
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-5" style="order: 1">
        <div class="hero-img d-none d-xl-block">
          <img
            src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/experience.png"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-xl-5 offset-xl-1">
        <div class="about-content">
          <div class="about-content-header">
            <h5>What we provide</h5>
            <h2>Premium Services</h2>
            <p>
              We spend a lot of time researching tons of different top-notch
              technologies from top companies to create fastest and most
              functional websites for our clients
            </p>
          </div>
        </div>
        <div class="row mt-50">
          <div class="col-md-6">
            <div class="service-item">
              <div class="service-thumb">
                <img
                  src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/pro5.png"
                />
              </div>
              <div class="service-content">
                <h4>Web Development</h4>
                <p>We design and make websites from scratch</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item active">
              <div class="service-thumb">
                <img
                  src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/pro4.png"
                />
              </div>
              <div class="service-content">
                <h4>Fully Responsive</h4>
                <p>Your Website is available on all devices</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <div class="service-thumb">
                <img
                  src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/pro2.png"
                />
              </div>
              <div class="service-content">
                <h4>Easy Customize</h4>
                <p>Update your website easily with just a click</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <div class="service-thumb">
                <img
                  src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/pro3.png"
                />
              </div>
              <div class="service-content">
                <h4>Data Protection</h4>
                <p>We guarantee your database is highly secured</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- why-choose-us section -->
<div class="about-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-5 offset-xl-1">
        <div class="hero-img">
          <img
            src="http://pixner.net/mosto/demo/ltr/light/assets/images/newslater/newslater2.png"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-xl-5" style="order: 1">
        <div class="about-content">
          <div class="about-content-header">
            <h5>Why choose us</h5>
            <h2>We Strive to Create Amazing Websites</h2>
            <p>
              We are a passionate team of software developers, marketers, and
              designers focused on driving results for our clients in the
              fast-growing. We are making products loved by users all over the
              world.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
