<!-- a-few-words section -->
<div class="about-1">
  <div class="rocket d-none d-xl-block">
    <img
      src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/rocket.png"
    />
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-5 offset-xl-1">
        <div class="hero-img">
          <img
            src="http://pixner.net/mosto/demo/ltr/light/assets/images/about/about.png"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-xl-5" style="order: 1">
        <div class="about-content">
          <div class="about-content-header">
            <h5>{{"ABOUT.SUB" | translate}}</h5>
            <h2>{{"ABOUT.TITLE" | translate}}</h2>
            <p>
              {{"ABOUT.DESC" | translate}}
            </p>
            <div class="counter-area">
              <div class="counter-item">
                <div class="counter-thumb">
                  <img
                    src="http://pixner.net/mosto/demo/ltr/light/assets/images/counter/counter1.png"
                    class="img-fluid"
                  />
                </div>
                <div class="counter-content">
                  <h3>20+</h3>
                  <p>{{"ABOUT.INFO_CLIENTS" | translate}}</p>
                </div>
              </div>
              <div class="counter-item">
                <div class="counter-thumb">
                  <img
                    src="http://pixner.net/mosto/demo/ltr/light/assets/images/counter/counter2.png"
                    class="img-fluid"
                  />
                </div>
                <div class="counter-content">
                  <h3>10</h3>
                  <p>{{"ABOUT.INFO_PROVINCES" | translate}}</p>
                </div>
              </div>
              <div class="counter-item">
                <div class="counter-thumb">
                  <img
                    src="http://pixner.net/mosto/demo/ltr/light/assets/images/counter/counter3.png"
                    class="img-fluid"
                  />
                </div>
                <div class="counter-content">
                  <h3>99%</h3>
                  <p>{{"ABOUT.INFO_SATI" | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- what-we-do section -->
<div class="about-2">
  <div class="about-shape d-none d-lg-block">
    <img
      src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/feature-shape.png"
    />
  </div>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-5" style="order: 1">
        <div class="hero-img d-none d-xl-block">
          <img
            src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/experience.png"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-xl-5 offset-xl-1">
        <div class="about-content">
          <div class="about-content-header">
            <h5>{{"WE_DO.TITLE" | translate}}</h5>
            <h2>{{"WE_DO.SUB_TITLE" | translate}}</h2>
            <p>
              {{"WE_DO.DESC" | translate}}
            </p>
          </div>
        </div>
        <div class="row mt-50">
          <div class="col-md-6">
            <div class="service-item">
              <div class="service-thumb">
                <img
                  src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/pro5.png"
                />
              </div>
              <div class="service-content">
                <h4>{{"WE_DO.T1" | translate}}</h4>
                <p>{{"WE_DO.S1" | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item active">
              <div class="service-thumb">
                <img
                  src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/pro4.png"
                />
              </div>
              <div class="service-content">
                <h4>{{"WE_DO.T2" | translate}}</h4>
                <p>{{"WE_DO.S2" | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <div class="service-thumb">
                <img
                  src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/pro2.png"
                />
              </div>
              <div class="service-content">
                <h4>{{"WE_DO.T3" | translate}}</h4>
                <p>{{"WE_DO.S3" | translate}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item">
              <div class="service-thumb">
                <img
                  src="http://pixner.net/mosto/demo/ltr/light/assets/images/feature/pro3.png"
                />
              </div>
              <div class="service-content">
                <h4>{{"WE_DO.T4" | translate}}</h4>
                <p>{{"WE_DO.S4" | translate}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- why-choose-us section -->
<div class="about-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-5 offset-xl-1">
        <div class="hero-img">
          <img
            src="http://pixner.net/mosto/demo/ltr/light/assets/images/newslater/newslater2.png"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-xl-5" style="order: 1">
        <div class="about-content">
          <div class="about-content-header">
            <h5>{{"CHOOSE_US.TITLE" | translate}}</h5>
            <h2>{{"CHOOSE_US.SUB_TITLE" | translate}}</h2>
            <p>
              {{"CHOOSE_US.DESC" | translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
